<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>
ErrorDocument 404 https://vorobeyart.ru/404

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
  
  SetEnvIf X-Forwarded-Proto https SERVER_PORT=443
    SetEnvIf X-Forwarded-Proto https HTTPS=on
    RewriteCond %{HTTP:HTTPS} !=on [NC]
    RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
</IfModule>

<ifModule mod_headers.c>
  <FilesMatch "\.(html|flv|swf|ico|gif|jpg|jpeg|png|js|css|txt|svg|webp|woff|woff2)$">
    Header set Cache-Control "max-age=31536000"
  </FilesMatch>
</IfModule>